*, *::before, *::after {
    box-sizing: border-box;
}
body,html{
	background-color:#e9edf0;
}
header{
	background-color:white;
}

#navbar1{
  background: #000b15;
  background: linear-gradient(#2d3841, #010c16);
}
.container {
    width: 1070px;
}
.navbar-nav,.nav{
  height:25px;
	line-height:10px;
	padding:0;
	border:none;
}

.OBS{
	margin-right:60px;
}

.navbar-nav > li > a,.nav > li > a{
	padding:3px 9px;
	border-left:1px solid rgba(255,255,255,0.3);
	border-right:1px solid rgba(5,30,65,0.7);
	font-size:11px;
	height:24px;
	color:#ddd;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover,.navbar-nav > li > a:hover,.navbar-nav > li > a:focus,.nav > li > a:hover,.nav > li > a:focus{
	background-color:#000b15;
	height:24px;
}

.navbar-nav > li > a.yellow,.nav > li > a.yellow{
	background-color:#ffc600;
	color:#000;
	height:25px;
	font-weight:bold;
}
    
.dropdown-menu.columns-2 {
	min-width: 400px;
}

.multi-column-dropdown {
	list-style: none;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

#navbar2{
	height:46px;
	border-bottom:1px solid #ccc;
}

.scdnavcenter{
	margin-top:10px;
}

input.form-control{
	height:24px;
	width:180px;
	font-size:12px;
	background-color:#f5f5f5;
	box-shadow:none;
	padding:3px 5px;
}

.form-group{
	margin:auto;
}

.containlogo{
	display:inline-block;
	width:150px;
}

.nav > li > a.logo{
    background: url("../image/sprite.png") no-repeat;
    display: inline-block;
    text-indent: -9999px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 4px;
    text-align: left;
    cursor: pointer;
    border:none;
		padding:0;
}
.nav > li > a.fbcolor:hover{
	background-position: -80px -40px;
	opacity: 1;
	border:none;
	padding:0;
}
.nav > li > a.fbcolor{
  background-position: -57px -140px;
  opacity: 0.3;
}
.nav > li > a.twcolor:hover{
	background-position: -80px -80px;
	opacity: 1;
}
.nav > li > a.twcolor{
  background-position: -58px -162px;
  opacity: 0.3;
}
.nav > li > a.gocolor:hover{
	background-position: -80px -120px;
	opacity: 1;
}
.nav > li > a.gocolor{
	background-position: -58px -184px;
	opacity: 0.3;
}
.nav > li > a.instacolor:hover{
	background-position: -58px -228px;
	opacity: 1;
}
.nav > li > a.instacolor{
	background-position: -58px -206px;
	opacity: 0.3;
}

#lienmenu2container{
	line-height:40px;
}

.lienmenu2{
	color:#aaa;
	font-size:12px;
	font-weight:bold;
	margin-left:5px;
}

.lienmenu2:hover{
	color:#000;
	text-decoration:none;
}

.floatnone{
	float:none;
}

#logolemonde{
	width:63%;
	margin-top:5px;
}

.navbar-nav > li > a.navbar3,.nav > li > a.navbar3{
	padding:3px 9px;
	border-left:1px solid rgba(0,0,0,0.2);
	border-right:1px solid rgba(5,30,65,0);
	font-size:12px;
	font-weight:bold;
	height:32px;
	color:#222;
	line-height:23px;
	box-sizing:border-box;	
	position:relative;
	top:-3px;
}

#navbar3{
	border-top:3px solid #ccc;
	border-bottom:1px solid #ccc;
	height:33px;
}

.dessous-logo a{
	border:0pw solid white;
	background-color:white;
	border-radius:0px;
	color:#444;
	font-size:10px
}

.dessous-logo a:hover,.dessous-logo a:focus{
	text-decoration:none;
}

#bleu1{
	border-top:3px solid #0386c3;
}

#bleu1:hover{
	background:#0386c3;
	color:white;
	opacity:50%;
}

#bleu2{
	border-top:3px solid #1f0d67;
}

#bleu2:hover{
	background:#1f0d67;
	color:white;
}

#bleu3{
	border-top:3px solid #0cb4ae;
}

#bleu3:hover{
	background:#0cb4ae;
	color:white;
}

#turquoise{
	border-top:3px solid #06b586;
}

#turquoise:hover{
	background:#06b586;
	color:white;
}

#vert1{
	border-top:3px solid #30932e;
}

#vert1:hover{
	background:#30932e;
	color:white;
}

#vert2{
	border-top:3px solid #6faa12;
}

#vert2:hover{
	background:#6faa12;
	color:white;
}

#rouge1{
	border-top:3px solid #d50303;
}

#rouge1:hover{
	background:#d50303;
	color:white;
}

#rouge2{
	border-top:3px solid #fe2f2f;
}

#rouge2:hover{
	background:#fe2f2f;
	color:white;
}

#rose{
	border-top:3px solid #f20559;
}

#rose:hover{
	background:#f20559;
	color:white;
}

#orange{
	border-top:3px solid #ff6e17;
}

#orange:hover{
	background:#ff6e17;
	color:white;
}

#jaune{
	border-top:3px solid #ccaa00;
	background-color:#ffc600;
}

#jaune:hover{
	background:#ffc600s;
	color:white;
}

#grishome{
	border-top:3px solid #a2a9ae;
}

#grishome:hover{
	background:#2e3942;
	color:white;
}

#gris{
	border-top:3px solid #2e3942;
}

#gris:hover{
	background:#2e3942;
	color:white;
}


#black{
	border-top:3px solid #2e3942;
}

#black:hover{
	background:#fff;
	color:black;
}

#en_ce_moment {
   	width:100%;
    height: 33px;
    margin-top: 16px;
    overflow: hidden;
    background: #2d3143;
    background: linear-gradient(#2d3143, #10141d);
}

.une{
	background-color:white;
}

#en_ce_moment li:first-child {
		width:140px;
		height:100%;
		line-height:33px;
		color:white;
		font-weight:bold;
    background: url("../image/sous_nav.png") no-repeat right -70px;
    padding: 0 13px 0 5px;
}

#en_ce_moment li a{
		border:none;
		height:100%;
		line-height:33px;
		color:white;
		font-weight:bold;
		font-size:14px;
    padding: 0 13px 0 5px;
}

#en_ce_moment li a:hover{
    background: rgba(0,0,0,0);
    color: #CB2626;
}
#temoignage,#continu,#partage,#abonnement{
	border:1px solid #dfdfdf;
	background-color:#fafbfc;
	margin-top:20px;
	padding:3px 5px;
}

.une h1{
	color:#003366;
	font-family: 'Roboto Slab', serif;	
}

.une h2{
	color:#003366;
	font-size:13px;;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
}

.une img{
	width:100%;
}

.une .rouge{
	padding:5px 5px;
	background-color:#d50303;
	color:white;
	font-weight:bold;
	font-size:15px;
	font-family:Fette, "Arial Narrow", sans-serif;
}

.une .gris{
	background-color:#16212c;
}

#continu ul{
	list-style-type: none;
	padding-left:5px;
}

#continu li{
	margin-top:8px;
	font-size:12px;
	color:#666
}

#continu a{
	margin-top:5px;
	margin-left:10px;
	color:#003366;
	font-size:13px;
}

.dessousimageune ul{
	list-style-type: square;
	padding-left:5px;
}

.dessousimageune li{
	color:#bbb;
	margin-top:8px;
}

.dessousimageune li a{
	color:#003366;
}

#uneprecedente p{
	color:#777;
	font-size:12px;
}

#article-annexe > div{
	margin-top:20px;
}

#article-annexe a{
	font-size:13px;
	font-weight:bold;
	color:#003366;
}

#article-annexe img{
	height:61px;
	width:auto;
	margin-right:10px;
	float:left;
}

.une hr{
	border:3px solid #eee;
}

#pub{
	margin:20px 0;
}

#partage .entete{
	background-color:#3b5998;
	height:25px;
}


#partage p{
	color:white;
	line-height:25px;
	font-size:13px;
	font-weight:bold;
	padding-left:20px;
}

#partage span{
	color:#999;
	background-color:#eee;
	padding:1px 4px;
	font-size:11px;
}

.onepartage{
 	padding:10px 0px;
 	border-bottom:1px solid #dfdfdf;
 }

.onepartagelast{
 	padding:10px 0px;
 	border-bottom:0px solid #dfdfdf;
 }

#partage a{
	font-size:13px;
	color:#003366;
}

#reseauxsociaux a.logo{
    background: url("../image/sprite.png") no-repeat;
    display: inline-block;
    text-indent: -9999px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 4px;
    text-align: left;
    cursor: pointer;
}

#reseauxsociaux .suiveznous{
	line-height:40px;

}

#reseauxsociaux a.fbcolor{
	background-position: -80px -40px;
	opacity: 1;
}

#reseauxsociaux a.twcolor{
	background-position: -80px -80px;
	opacity: 1;
}

#reseauxsociaux a.gocolor{
	background-position: -80px -120px;
	opacity: 1;
}

#reseauxsociaux a.instacolor{
	background-position: -58px -228px;
	opacity: 1;
}

#reseauxsociaux a.mobilcolor{
	background-position: -80px -160px;
	opacity: 1;
}

#reseauxsociaux a.rsscolor{
	background-position: -80px -200px;
	opacity: 1;
}

#reseauxsociaux{
	padding:0 10px;
	border:1px solid #dfdfdf;
	border-top:0px solid #fff;
	background-color:white;
	box-shadow:0px -2px 5px #eee;
	position:relative;
	bottom:0px;
	height:40px;
	width:100%;
}

#reseauxsociaux .containlogo{
	display:inline-block;
	width:100%;
}

#abonnement .imageabonne{
	width:75%;
}

#abonnement a{
	height:100%;
	width:75%;
}

#img1{
	position:absolute;
	top:0;
	left:0;
}

#img2{
	position:absolute;
	top:20px;
	left:25px;
}

#img3{
	position:absolute;
	top:40px;
	left:50px;
}
#abonnement{
	margin-top:0;
}
#enteteabo{	
	margin-top:60px;
	height:24px;
	background-color:#ffc600;	
	padding: 1px 10px;
}

#enteteabo h2{
	font-weight:normal;
	color:black;
	padding:0px 10px;
	margin:0;
	line-height:24px;
	font-family:arial, sans-serif;
}

#enteteabo h2 span{
	font-weight:bold;
}

#datejour{
	height:35px;
	border-bottom:1px solid #eee;
	padding:0px 10px;
}

#datejour span{
	height:35px;
	line-height:35px;
	font-size:14px;
	font-weight:bold;
}

#abonnement hr{
	border:1px solid #eee;
}

#previsu img{
	margin-top:10px;
	box-shadow:0px 0px 4px #bbb;
}

#abonnement #pied p{
	color:#888;
	font-size:13px;
}	

.btn-jaune{
	background-color:#ffc600;
	height:25px;
	padding-top:0px;
	color:black;
	font-weight:bold;
	font-size:13px;
	line-height:25px;
}

#annonceauto{
	margin-top: 20px;
	background-color:#2e3942;
}

#annonceauto li,#annonceauto a{
	font-weight:bold;
	border:none;
}
#annonceauto .active{
	background-color:#fff;
}

#annonceauto .active a{
	color:#333;
}

#annonceauto img{
	margin-top:10px;
	width:40%;
	float:left;
	margin-right:10px;
}

#annonceauto .last{
	margin:0px;
	height:100%;
	width:auto;
}

.cont{
	background-color:white;
}

#blockvideo{
	background: #000b15;
	border-color: #2e3942;
	margin:20px auto;
}

#blockvideo h2{
	font-size:16px;
	font-weight:bold;
	font-family: 'Roboto Slab', serif;	
	color:white;
}

#blockvideo a{
	color:#fff;
	font-weight:bold;
}

#blockvideo a img{
	margin-bottom:10px;
}

#blockvideo a:hover{
	color:#aaa;
	text-decoration:none;
}


#blockvideo > div:last-child{
	color:#fff;
	font-weight:bold;
	border-top:1px solid #eef1f5;
}

#blockvideo > div:first-child{
	border-bottom:1px solid #eef1f5;
	margin-bottom:10px;
}
